[Unit]
Description=octez-node
Documentation=https://tezos.gitlab.io/
After=network.target

[Service]
Environment="DATADIR=/var/tezos/.tezos-node LOGDIR=/var/log/tezos"
EnvironmentFile=-/etc/default/octez-node
User=tezos
Group=tezos
WorkingDirectory=~
Restart=on-failure
RestartSec=10s
KillMode=control-group
TimeoutStartSec=30s
TimeoutStopSec=300s

ExecStart=/usr/bin/octez-node run --data-dir $DATADIR --log-output $LOGDIR/node.log $RUNTIME_OPTS
Slice=octez.slice

[Install]
WantedBy=multi-user.target
